:root {
  --bs-body-bg: #ffffff;
}

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color: #0b1a2b;
  font-size: 16px;
}

a { text-decoration: none; }
